.form-auth {
    position: relative;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 50px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 14px -3px rgba(94, 98, 100, 0.75);
    background-color: $white;

    &__header {
        color: $blue;
        margin-bottom: 30px;

        h2 {
            margin-bottom: 5px;
        }

        p {
            margin-bottom: 5px;
        }
    }

    .btn-wrap {
        margin-bottom: 20px;
    }

    &__info-msg {
        font-size: 14px;
        text-align: center;

        a {
            color: $aqua;
        }
    }

    .button {
        width: 100%;
        padding: 15px;
        font-family: $base-font;
        font-size: 14px;
    }
}

.form-notification {
    background-color: $white;
    padding: 12px 10px 12px 20px;
    font-size: 14px;
    box-shadow: 0px 0px 14px -3px rgba(94, 98, 100, 0.75);
    max-width: 450px;
    width: 100%;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);

    &.error {
        border-left: 5px solid $red;
    }

    &.success {
        border-left: 5px solid $green;
    }

}