.image-upload {
    flex: 0 1 300px;
    text-align: center;
    background-color: $white;
    border-radius: 5px;
    padding: 40px 20px;
    margin-right: 20px;

    &__thumb {
        background-color: $blue;
        width: 200px;
        padding-top: 100%;
        display: inline-block;
        margin-bottom: 40px;
    }

    img {
        margin-bottom: 40px;
    }

    .button {
        margin: 0 15px;
    }
}