.section-create-product {
    padding: 40px 0;

    .section-content {
        display: flex;
        width: 100%;
    }

    .product-edit {
        width: calc(100% - 300px);
        background-color: $white;
        border-radius: 5px;
        padding: 40px 20px;
    }
}